In [1]:
import pandas as pd
from pandas import DataFrame, Series

import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df1 = DataFrame([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]])

In [6]:
df1.columns = ['c1','c2','c3','c4','c5']

In [7]:
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [8]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# Otra forma de hacerlo con numpy
import numpy as np

In [10]:
df4 = DataFrame(np.random.randint(0,15,3*5).reshape(3,5))

In [11]:
df4.columns = ['c1','c2','c3','c4','c5']

In [12]:
df4

   c1  c2  c3  c4  c5
0  13   0   7   6   7
1   4   3   4   8   5
2  10  10   8  12   1

In [16]:
df5 = DataFrame(np.arange(3*5).reshape(3,5))
df5.columns = ['c1','c2','c3','c4','c5']

In [17]:
df5

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [18]:
df4['c3']

0    7
1    4
2    8
Name: c3, dtype: int64

In [19]:
df4.c3

0    7
1    4
2    8
Name: c3, dtype: int64

In [20]:
# Sumamos dos series
df4.c3 + df4.c4

0    13
1    12
2    20
dtype: int64

In [21]:
# Creación de otra columna a partir de dos
df4.c6 = df4.c3 + df4.c4

In [26]:
df4['c7'] = df4['c4'] - df4['c2']

In [28]:
# Seleccion de filas

nc = df4.ix[2]

In [29]:
# añadimos una fila nueva y asignamos correctamente los indices.
df4.append(nc, ignore_index=True)

   c1  c2  c3  c4  c5  c7
0  13   0   7   6   7   6
1   4   3   4   8   5   5
2  10  10   8  12   1   2
3  10  10   8  12   1   2

In [30]:
# append NO modifica el original. Debemos asignarlo para cambiarlo.

In [32]:
# mismas líneas pero columnas c1 y c2. Se hace cmo una lista de columnas.
df4[['c1','c5']]

   c1  c5
0  13   7
1   4   5
2  10   1

In [33]:
df4[['c4','c7']]

   c4  c7
0   6   6
1   8   5
2  12   2

In [34]:
# listcolumn = ['c' + str(x) for x in [2,3,4]]
# Para hacerlo de forma automática.

In [36]:
l1 = range(10)

In [38]:
#slicing con listas.
l1[1:4]

[1, 2, 3]

In [43]:
# seleccionar filas en un dataframe.
# se hace con booleanos.
# Selección de la primera fila

df4[[True, False, False]]

   c1  c2  c3  c4  c5  c7
0  13   0   7   6   7   6

In [48]:
# Selección de varias filas de otra forma.Con serie de booleanos.
df4[df4['c1']>4]

   c1  c2  c3  c4  c5  c7
0  13   0   7   6   7   6
2  10  10   8  12   1   2

In [59]:
# Applymap: función a todo el dataframe

def sumone(integer):
    return integer + 1

In [60]:
df4

   c1  c2  c3  c4  c5  c7
0  13   0   7   6   7   6
1   4   3   4   8   5   5
2  10  10   8  12   1   2

In [62]:
df4.applymap(sumone)

   c1  c2  c3  c4  c5  c7
0  14   1   8   7   8   7
1   5   4   5   9   6   6
2  11  11   9  13   2   3

In [66]:
#apply por filas y columnas
def minimo(s):
    return s.min()
df4.apply(minimo)

c1    4
c2    0
c3    4
c4    6
c5    1
c7    2
dtype: int64

In [71]:
df4.iloc[1,3]

8

In [72]:
df4.iloc[1:3,1:3]

   c2  c3
1   3   4
2  10   8

In [74]:
# apply por filas y columnas
# a las filas.
def max(s):
    return s.max()
df4.apply(max, axis=1)

0    13
1     8
2    12
dtype: int64